services:
  react-dev:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/src:/app/src

  express-dev:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5172:5172"
    volumes:
      - ./backend/src:/app/src

  mongo-dev:
      image: mongodb/mongodb-community-server:7.0-ubi8
      environment:
        - MONGO_INITDB_ROOT_USERNAME=admin
        - MONGO_INITDB_ROOT_PASSWORD=admin
      ports:
        - "27017:27017"