services:
  mongo-dev:
      image: mongodb/mongodb-community-server:7.0-ubi8
      environment:
        - MONGO_INITDB_ROOT_USERNAME=admin
        - MONGO_INITDB_ROOT_PASSWORD=admin
      ports:
        - "27017:27017"

  express-dev:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
        - MONGO_CON_STR=mongodb://admin:admin@mongo-dev
        # Simple admin protection for /admin endpoints
        # Frontend must send this value as HTTP header: x-admin-key
        - ADMIN_KEY=admin
        # @Kevin: If you want a deterministic DB reset on every container start, set this to true
        - RESET_DB=false
    ports:
      - "5172:5172"
    volumes:
      - ./backend/src:/app/src
    depends_on:
      - mongo-dev

  react-dev:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/src:/app/src
